header{
    height: 40px;
    padding: 10px 50px;
    background-color: #646cff;
    position: absolute;
    top: 0;
    left:0;
    right:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links{
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links .link{
    font-size: 20px;
    font-weight: 600;
}

header .logo{
    font-size: 25px;
    font-weight: 900;
    color: white;
}
