*{
    padding: 0;
    margin: 0;
}


#page{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
}

#heading{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title{
    font-size: 25px;
    font-weight: bold;
}

#costliest-product{
    font-size: 25px;

}

#product-grid{
    width: 90%;
    height: 100%;
    display: grid;
    
    grid-template-columns: 300px 300px 300px 300px ;

    margin-top: 30px;

    row-gap: 20px;
    column-gap: 85px;
}

.card{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 50px;
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    box-sizing: border-box;
    cursor: pointer;

}

.hovering{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.219);
    border-color: lightcoral;
}   

#category{
    color: gray;
    font-size: 20px;
    margin-bottom: 0;
    
}

#name{
    font-size: 25px;
    margin-top: 0;
}

#pricesContainer{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    margin-top: 17px;
}

#price{
    text-decoration: line-through;
    color: gray;
}
#price::before{
    content: '₹';
}

#discountedPrice{
    color: darkgoldenrod;
}
#discountedPrice::before{
    content: '₹';
}