@use './variables' as *;

@mixin flexCustom($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}


@mixin primary-button($height, $width) {
    background: $accent-color;
    color: #fff;
    border-radius: 4px;
    padding: 14px 32px;
    height: $height;
    width: $width;
    @include flexCustom(row, space-between, center);
}
