@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use './footer' as *;
@use './hero' as *;
@use './demo.scss' as *;
@use './section7.scss' as *;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $base-font-family;
}

button{
    cursor: pointer;
}

.header-container {
    background: $bg-gray;
}

.centered-container {
    width: 80vw;
    margin: 0 auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 50px;

    a {
        text-decoration: none;
        color: $text-color;
    }
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: $text-color;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}

.nav-primary-button {
    background: $accent-color;
    font-weight: 600;
}

.nav-secondary-button {
    background: transparent;
    color: $accent-color;
    font-weight: 600;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-section {
    padding: 22px 0;
}

.heading-1 {
    font-size: 36px;
    font-weight: 500;
    color: $heading-color;
    font-weight: 600;
}

.text{
    color: $text-color;
    margin-top: 10px;
    font-size: 16px;
    line-height: 25px;
}

.text-center {
    text-align: center;
}

.para {
    font-size: 16px;
    color: #717171;
}

//HERO


//SECTION-7


.info-container{
    @include flexCustom(row, space-between, center);
    gap: 100px;
}


//SECTION-6
.section-6{
    background-color: #F5F7FA;
    padding: 32px 0;
}
.section-6 .centered-container{
    @include flexCustom(row, space-between, center);
    gap: 100px;
}

.section-6 .left{
    width: fit-content;
}

.section-6 .right{
    @include flexCustom(column, center, left);
    gap: 10px;
}

.section-6 .right .bottom{
    @include flexCustom(row, space-between, center);
}

.section-6 .right .bottom .link{
    @include flexCustom(row, space-between, center);
    gap: 7px;
}

//SECTION 7
.info-section-button{
    border: none;
    @include primary-button(30px, 100px);
    font-weight: 700;
}

.section{
    width: 100vw;
    margin: 50px 0;
}

.logos-container{
    padding: 25px 0;
    
}

.system-container{
    margin-top: 50px;
}

.system-card{
    width: 251px;
    @include flexCustom(column, space-between, center)
}


//SECTION 4
.section-4{
    background-color: #F5F7FA;
    padding: 84px 0;
}

.section-4-sub{
    @include flexCustom(row, space-between, center);
}

.green-text{
    color: $accent-color;
}

.grid-container{
    display: grid;
    column-gap: 80px;
    row-gap: 40px;
    grid-template-columns: 230px 230px;

}

.grid-element{
    @include flexCustom(row, space-between, center);
    gap: 20px;
}

//SECTION 8


//FOOTER
